body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

/* Header */

header {
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

/* MAIN */

.container {
  width: 70%;
  margin: auto;
}

/* FORM */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Labels*/
label {
  margin-bottom: 1em;
  margin-top: 3em;
}

/*Text inputs*/

input[type=text],
input[type=url]  {
  width: 80%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.6);
  height: 25px;
}

/*Submit button*/
input[type=submit] {
  background: rgb(29, 161, 250);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 40%;
  height: 50px;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

/*Captcha*/

.g-recaptcha {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.captcha-error {
  color: red;
  padding-bottom: 5px;
}

/*RESULTS*/

.results {
  margin-top: 2em;
  height: 100px;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.results p {
  text-align: center;
}
